<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Veterinários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <!-- <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon> -->
        <ion-icon name="person-outline" slot="start" color="success"></ion-icon>
        <ion-label>
          Jorge
          <p>06/11/2021 00:00:00</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none"> <!-- lines="none" remove aquela linha abaixo do elemento, como nos inputs -->
        <ion-label>
          <p>Created at 06/11/2010</p>
          <!-- <p>Notes: we have two bags that are full, one with plastic and the others with glasses</p> -->
          <p>Especialista em oncologia e animais domésticos</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <!-- <ion-icon name="checkmark-circle-outline" slot="start" color="primary"></ion-icon> -->
        <ion-icon name="person-outline" slot="start" color="success"></ion-icon>
        <ion-label>
          Maria
          <p>06/11/2021 00:00:00</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none"> <!-- lines="none" remove aquela linha abaixo do elemento, como nos inputs -->
        <ion-label>
          <p>Created at 06/11/2021</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <p>Created at 18/07/2015</p>
        <p>Especialista em ortopedia e animais de grande porte</p>
        <!-- <ion-icon name="trophy" slot="start" color="success"></ion-icon> -->
        <!-- <ion-label color="success">R$ 15,00</ion-label> -->
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <!-- <ion-icon name="archive-outline" slot="start" color="secondary"></ion-icon> -->
        <ion-icon name="person-outline" slot="start" color="success"></ion-icon>
        <ion-label>
          Ana Paula
          <p>06/11/2021 00:00:00</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none"> <!-- lines="none" remove aquela linha abaixo do elemento, como nos inputs -->
        <ion-label>
          <p>Created at 06/11/2013</p>
          <p>Especialista em animais silvestres</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
