
ion-card {
  ion-card-subtitle {
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }
  p {
    white-space: normal;
  }
}
