<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="flex-center">
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title color="tertiary">Login</ion-card-title>
        <!-- <ion-card-subtitle>Faça seu login</ion-card-subtitle> -->
      </ion-card-header>

      <ion-card-content>
        <ion-item color="primary">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item color="primary">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button color="dark" fill="clear" size="full">Esqueci minha senha</ion-button>
        <ion-button color="success" size="full">Login</ion-button>
        <ion-button color="dark" fill="clear" size="full">Registre-se</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
