<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="tertiary">
    <ion-item color="tertiary">
      <ion-avatar slot="start">
        <img src="https://thumbs.dreamstime.com/z/%C3%ADcone-no-estilo-liso-do-usu%C3%A1rio-da-pessoa-para-site-ilustra%C3%A7%C3%A3o-vetor-129831161.jpg" />
      </ion-avatar>
      <ion-label>
        <h1>Ana Paula</h1>
        <p><span class="destaque">Veterinária</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <app-vet-card></app-vet-card> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
