<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="" />
  <ion-card>
    <ion-card-content>
      <p>Address: Fake Street, 111</p>
      <p>Complement: Apto 2222</p>
      <p>Neighborhood: neighborhood</p>
      <p>Zip code: 1234567</p>
      <p>City name - State</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button size="full" color="success">Salvar</ion-button>
</ion-content>
